$light: rgba(255, 255, 255, 0.871);
$light-hover: rgba(255, 255, 255, 0.502);
$dark: rgba(0, 0, 0, 0.871);
$dark-hover: rgba(0, 0, 0, 0.502);

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
), $spacers);

$gutter-small: 2px;
$gutter-large: 4px;
