@import 'variables';
.card {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    text-align: left;
}

.card-image {
    flex-shrink: 0;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.card-image .image {
    background-color: #33333322;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 25px;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    width: auto;
}

.card-image .image.contain {
    background-size: contain;
    background-repeat: no-repeat;
}

.card-text {
    margin: 15px;
}

.card-heading {
    margin: 0;
}

.card-subheading {
    margin: 0;
}

@media (min-width: $breakpoint-sm) {
    .card {
        flex-direction: row;
    }
    .card-image {
        height: 240px;
        padding-bottom: 0;
        width: 240px;
    }
}

@media (min-width: $breakpoint-md) {
    .card-image {
        height: 300px;
        width: 300px;
    }
}

@media (min-width: $breakpoint-lg) {
    .card-image {
        height: 360px;
        width: 360px;
    }
}
