@import 'variables';
.gallery-container {
    margin-right: -$gutter-small;
    overflow: hidden;
    @media (min-width: $breakpoint-sm) {
        margin-right: -$gutter-large;
    }
}

.image-container {
    box-sizing: border-box;
    display: block;
    float: left;
    line-height: 0;
    padding-right: $gutter-small;
    padding-bottom: $gutter-small;
    overflow: hidden;
    height: auto;
    width: 100%;
    @media (min-width: $breakpoint-sm) {
        width: auto;
        height: 200px;
        padding-right: $gutter-large;
        padding-bottom: $gutter-large;
    }
    @media (min-width: $breakpoint-md) {
        height: 250px;
    }
    @media (min-width: $breakpoint-lg) {
        height: 300px;
    }
    @media (min-width: $breakpoint-xl) {
        height: 350px;
    }
}

.image {
    border: 0;
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
}
