body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0; }

a {
  color: rgba(0, 0, 0, 0.871); }

a.hover,
a:hover {
  color: rgba(0, 0, 0, 0.502); }

.text-light a {
  color: rgba(0, 0, 0, 0.871); }

.text-light a.hover,
.text-light a:hover {
  color: rgba(0, 0, 0, 0.502); }
