body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0; }

a {
  color: #000000de; }

a.hover,
a:hover {
  color: #00000080; }

.text-light a {
  color: #000000de; }

.text-light a.hover,
.text-light a:hover {
  color: #00000080; }
